[DEFAULT]
dna_encoder = kmer-spectral
tax_encoder = categorical
epochs = 100
batch_size = 32
fcn_layers = [128, 20, 64]
loss_function = CrossEntropyLoss
sampler = random
optimizer = Adam
output_heads = single
weight_schedule = Constant([1,1,1,1,1,1])
warmup_steps = None
dropout = 0.0


[HYPERPARAMETER]
dna_encoder = kmer-spectral
tax_encoder = categorical
epochs = 100
batch_size = 32
fcn_layers = [128, 20, 64]
optimizer = Adam
loss_function = CrossEntropyLoss
sampler = random
weight_schedule = Constant([1,1,1,1,1,1])
warmup_steps = None
dropout = 0.0
output_heads = single