[DEFAULT]
dna_encoder = kmer-spectral
tax_encoder = categorical
epochs = 100
batch_size = 32
fcn_layers = [128, 20, 64]
loss_function = CrossEntropyLoss
sample = True
optimizer = Adam
output_heads = single
weighted_loss = True
warmup_steps = None
dropout = 0.0
sequence_length_filter_tolerance = 4
sequence_quality_filter_tolerance = 0.0
learning_rate = 0.001
weight_decay = 0.0001
weight_schedule = [1,1,1,1,1,1]


[HYPERPARAMETER]
dna_encoder = kmer-spectral
tax_encoder = categorical
epochs = 100
batch_size = 32
fcn_layers = [128, 20, 64]
optimizer = Adam
loss_function = CrossEntropyLoss
sample = True
weighted_loss = True
warmup_steps = None
dropout = 0.0
output_heads = single
length_filter_tolerance = 4
sequence_length_filter_tolerance = 4
sequence_quality_filter_tolerance = 0.0
learning_rate = 0.001
weight_decay = 0.0001
weight_schedule = [1,1,1,1,1,1]